*{
  box-sizing: border-box;;
}
:root {
  --color-orange: #ff5c00;
  --color-dark: #2a2a2a;
  --body-bg: #fff;
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);
  /* Darkmode */
  --dark-bg: var(--color-dark);
  --dark-text-color: #fff;
  --dark-border-color: #fff;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
  color: var(--text-color);
}

/* Darkmode */
.dark-mode-toggle {
  position: fixed;
  top: 8rem;
  left: 3rem;
}
.dark-mode-toggle:hover{
  cursor: pointer;
}

#darkmode {
  display: none;
}

#darkmode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  --text-color: var(--dark-border-color);
}

.container {
  width: 90%;
  margin: auto;
}
.flex{
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

header {
  box-shadow:  0 0 10px tpx gray;
  position: sticky;
  top: 0;
  background: var(--body-bg);
}

html {
  scroll-behavior: smooth;
}

.navigation {
justify-content: space-between;
align-items: center;
}

.nav-left{
  align-items: center;
  position: relative;
}

.line::before{
  content: "";
  width: 4px ;
  height: 40%;
  left: 39%;
  position: absolute;
  background: var(--color-orange);
}
.menu ul{
  list-style: none;
}

/* Hero Sectio */
.hero-section {
  padding-top: 10rem;
  color: var(--text-color);
}

.hero {
  grid-template-areas: "left right";
  background-color: var(--color-orange);
}
.download-btn {
  background-color: var(--color-dark);
  padding: 0.8rem 2 rem;
  border-radius: 2rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.download-btn a {
  color: #fff;
}

.left{
  grid-area: left;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -5rem
}
.right img {
  min-width: 300px;
  max-width: 350px;
}

.banner {
margin-top: 7rem;
border: 2px solid var(--border-color);
padding: 2rem;
justify-content: space-between;
align-items: center;
border-radius: 100px;
}
.icon-container{
background-color: var(--color-orange);
width: 4rem;
height: 4rem;
border-radius: 50%;
justify-content: center;
align-items: center;
}
.icon-container {
  color: #fff;
  font-size: 2rem;
}
.info-divider {
background: var(--text-color);
width: 2px;
height: 50px;
}

.info-content div:nth-child(2) p {
  color: var(--color-orange);
}


/* Skills */
.skills {
  padding-top: 7rem;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

.skills >div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills> div i{
  font-size: 5rem;
}
.skills >div>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.project {
  padding-top: 7 rem;
  padding: 7rem 0;
  
}

.project-container{
  grid-template-columns: repeat(2, 1fr);
}

.project-card{
  box-shadow: -1px 14px 20px 8px rgb(101,101,10, 0.78);
  border-radius: 5px;
  padding-bottom: 2rem;
}

.project-card .top img {
  width:  100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.about{
  background: rgb(168, 225, 33, 0.578 );
padding: 2rem 1rem 2rem 1rem;
margin-top: 2rem;
}


.about-left{
  justify-content: center;
  width: 60%;
}

.about-left img{
  min-width: 350px;
  max-width: 400px;
}

.about-right h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-right p:nth-child(4){
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.about-right .tag {
  font-weight: bold;
  font-size: 1.3rem;
}

.about-right .interest span:hover{
  cursor: pointer;
  text-decoration: underline;
}

.socials {
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}

.socials a i {
  font-size: 2rem;
}

.email-container {
  border: 1px solid var(--color-dark);
  width: max-content;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  
}

.email-container input {
  border: none;
  outline: none;
}
.email-container i {
  color: var(--color-orange)
}

/* Footer */
.footer{
  background: var(--color-orange);
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
}

.hamburger{
  display: none;
  }

/* responsive */

/* @media screen and (max-width: 768px) {

  .hamburger{
    display: block;
    cursor: pointer;
  }

  .menu ul {
    display: block;
    flex-direction: column;
    position: fixed;
   left: 100%;
    width: 15rem;
    background-color: var(--body-bg);
    height: 100vh;
    top: 3.3rem;
    transition: 0.5s ease-in;
    box-shadow: 0 0 0 1px rgb(rgba(128, 128, 128, 0.342));
  }

  .menu ul li{
    padding-left: 1rem;
    line-height: 2rem;
    font-weight: bold;
  }

  .menu .slide{
    left: cal(100% - 15rem);
  }
  
} */


@media screen and (max-width: 768px) {

  .hamburger{
    display: block;
    cursor: pointer;
  }
  .navigation ul {
    display: block;
    flex-direction: column;
    position: fixed;
    width: 15rem;
    left: 100%;
    background-color: var(--body-bg);
    height: 100vh;
    top: 3.3rem;
    transition: 0.5s ease-in;
    box-shadow: 0 0 0 1px rgb(rgba(128, 128, 128, 0.342));
  }
  .navigation ul li{
    padding-left: 1rem;
    line-height: 2rem;
    font-weight: bold;
  }

  .navigation ul.slide{
    left: calc(100% - 10rem);
  }
 
  .hero {
    grid-template-areas: 
    "right" 
    "left";
    background-color: var(--color-orange);
  }
  .hero{
    padding-bottom: 3rem;
  }
  .hero .right {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .hero .right img {
    width: 70%;
    
  }

  .banner{
    width: 250px;
    align-items: center;
    flex-direction: column;
  }

  .info-content{
    margin-bottom:3rem;
  }

  .info-divider{
    display: none;
  }

  .project-container{
    grid-template-columns: 1fr;
  }

  .about .container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .about .about-left{
    display: flex;
    justify-content: center;
  }

  .about-left img {
    width:  70%;
  }

}